/*universal font*/
body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #e59ab9;
}
/*margins*/
.herstory-container {
  background-color: white;
  padding: 20px;
}
/*footer*/
.page-footer {
  padding: 50px;
  background: black;
  margin-top: 20px;
  margin-bottom: -15px;
  color: white;
}
/*nav bar color*/
.herstory-nav {
  background-color: black;
}
/*nav bar image*/
nav img {
  max-width: 75px;
  margin-top: -8px;
  margin-bottom: -8px;
}
/*pink sides*/
.halfrow {
  background-color: #9b9c9c;
  padding: 60px;
  text-align: center;
  font-size: 3em;
  color: black;
}
/*button text*/
a {
  color: #d63775;
}
/*body text*/
#body {
font-size: .5em;
color: #d63775;
padding-left: 30px;
}
A:hover { COLOR: #e59ab9; TEXT-DECORATION: none; font-weight: none }

span{
  color: #D63775;
  font-weight: bold;
}
/*centers icon bar/sets background color/changes padding above icon bar*/
.col-sm-4{
  text-align: center;
  background-color: white;
  padding-top: 20px;
}

#about{
  font-size: 5em;
  color: #D63775;
  text-align: center;
}
#donate{
  font-size:5em;
  color: #0C0C0C;
  text-align: center;
}
#volunteer{
  font-size: 5em;
  /*color: #FBFBFB;*/
  color: #E59AB9;
  text-align: center;
}

#about:hover{
  color:#e580a7;
}
#donate:hover{
  color: #4d4d4d;
}
#volunteer:hover{
  color: #efc2d5;
}
A:visited { COLOR: #f40084; TEXT-DECORATION: none; font-weight: normal }
A:hover { COLOR: #e59ab9; TEXT-DECORATION: none; font-weight: none }
#nav-link {
    color: #969696;
}
h1{
  font-weight: bold;
}
