.pink{
  background-color: white;
  color:black;
  margin:50px;
  margin-left:60px;
  margin-right:60px
}
body{
  <font-family: 'Alegreya Sans SC', sans-serif;
}
.ppbutton{
  background: url("imgs/btn_imgs.jpg") no-repeat;
  cursor:pointer;
  border:none;
  width:110px;
  height:70px;
  background-size:100%;
  margin-left: 175px;
}
.mybuuton:active
{
  background:url("./img/sbtn_imgs.jpg");
}
#button-section{
  background-color:white;
  margin-right: 1707px;
  margin-bottom: 7px;
  margin-left: 15px;
  margin-top:75px;

  /*display: flex; justify-content: center;*/
}
h2{
  text-align:center;
}


.halfrow{
  margin:40px;
  padding:40px;
  text-align:center;
}
.ppbutton {
  display: block;
  width: 24%;
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width:270px;
  height:540px;
}
body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #e59ab9;
}
.herstory-container {
  background-color: white;
  padding: 20px;
}
.page-footer {
  padding: 50px;
  background: black;
  margin-top: 20px;
  margin-bottom: -15px;
  color: white;
}
.herstory-nav {
  background-color: black;
}
nav img {
  max-width: 75px;
  margin-top: -8px;
  margin-bottom: -8px;
}
#title {
  font-size: 3em;
  color: black;
}
#heading {
  font-size: 2em;
  color: #f40084;
  padding-left: 20px;
}
p {
font-size: 1.25em;
color: black;
}
.pink-color {
  color:#D63775;
}
A:visited { COLOR: #f40084; TEXT-DECORATION: none; font-weight: normal }
A:hover { COLOR: #e59ab9; TEXT-DECORATION: none; font-weight: none }
#nav-link {
    color: #969696;
}
