body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #e59ab9;
}
.herstory-container {
  background-color: white;
  padding: 20px;
}
.page-footer {
  padding: 50px;
  background: black;
  margin-top: 20px;
  margin-bottom: -15px;
  color: white;
}
.herstory-nav {
  background-color: black;
}
nav img {
  max-width: 75px;
  margin-top: -8px;
  margin-bottom: -8px;
}
